
.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-container {
    max-width: 400px; /* Điều chỉnh kích thước của khung đăng nhập */
    margin: 0 auto; /* Căn giữa khung đăng nhập */
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Căn chỉnh vị trí của nút Đăng Ký (Submit) */
button[type="submit"] {
    margin-top: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

